//! **************************************************************************
// Written by: Map P.20131013 on Tue Dec 13 16:53:04 2016
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
CONFIG ENABLE_SUSPEND = NO;
CONFIG POST_CRC = DISABLE;
COMP "spi_sck" LOCATE = SITE "AA20" LEVEL 1;
COMP "clk" LOCATE = SITE "E12" LEVEL 1;
COMP "spi_mosi" LOCATE = SITE "AB14" LEVEL 1;
COMP "dac_clr" LOCATE = SITE "AB13" LEVEL 1;
COMP "dac_cs" LOCATE = SITE "W7" LEVEL 1;
COMP "rst" LOCATE = SITE "T14" LEVEL 1;
NET "clk_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
OFFSET = IN 10 ns VALID 20 ns BEFORE COMP "clk";
OFFSET = OUT 20 ns AFTER COMP "clk";
SCHEMATIC END;

